<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.zhou6.mapper" />
        <option name="javaMapperPath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/java" />
        <option name="javaModelPackage" value="com.zhou6.entity" />
        <option name="javaModelPath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="provider-8081" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="provider-8081">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.zhou6.mapper" />
                  <option name="javaMapperPath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/java" />
                  <option name="javaModelPacakge" value="com.zhou6.entity" />
                  <option name="javaModelPath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.zhou6.service" />
                  <option name="javaServiceInterfacePath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/java" />
                  <option name="javaServicePackage" value="com.zhou6.service" />
                  <option name="javaServicePath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/rescoures" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="provider:provider">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Provider" />
                  <option name="moduleName" value="provider-8081" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$USER_HOME$/Desktop/再做一次dubbo/spring-boot-cloud/provider-8081/src/main/rescoures" />
      </ProjectProfile>
    </option>
  </component>
</project>